/* align the body of HTML to the center */
body{
	text-align: center;
}

/* set background color in header */
header{
	background-color: #111;
}

/* set max width of header image */
.headimage {
	max-width: 700px; 
}

/* media query to hide the verticle nav in larger screens */
@media (min-width: 768px) {
	.nav {
		display: none;
	}
}
/* media query to change the size of the header image and hide the horizontal button group on smaller screens */
@media (max-width: 768px) {
	.headimage {
		max-width: 300px;
	}
	.btn-group {
		display: none;
	}
}
